
/* index.html */

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.profile{
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

a{
  text-decoration: none;
  color : black;
}



/* contact-me.html */
